
.calc-displays {
    width: 100%;
    height: 27%;
    @include flexPosition;
    flex-direction: column;
    background-color: color(disply-color);

    &-top {
        width: 100%;
        height: 25%;
       @include flexPosition(flex-start, center);

        &-color {
            height: 100%;
            width: 30%;
            @include flexPosition(space-around);
            
            .color-1 {
                @include bounce;
                background-color: #fc5753;
            }   

            .color-2 {
                @include bounce;
                background-color: #fdbb40;
            }

            .color-3 {
                @include bounce;
                background-color: #34c84a;
            }

            
            // $socialMediaColors: 1 #fc5753, 2 #fdbb40, 3 #34c84a;

            // @each $color in $socialMediaColors {
            //     .calc-displays-top-color:nth-child(#{nth($color, 1)}) div{
            //         background-color: nth($color, 2);
            //          @include bounce;
            //     }
            // }
        }
    }

    &-display {
        width: 100%;
        height: 75%;
        font-size: 35px;
        padding: 0 10px;
        text-align: right;
        background-color: color(disply-color);
        color: color(font-color1);
        border: none;
        outline: none;
    }
}

.calc-btns {
    width: 100%;
    height: 73%;
    @include flexPosition;
    flex-direction: column;

    &-item {
        width: 100%;
        height: 20%;
        @include flexPosition;

        .calc-btn {
            height: 100%;
            width: 25%;
            font-size: 20px;
            font-weight: 300; 
            color: color(font-color1);
            background-color: color(btn-color1);           
            @include flexPosition;
            border-radius: 0%;
            outline: none;
            border: none;
            border-top: 1px solid color(disply-color);
            border-right: 1px solid color(disply-color);
        }

        .calc-btn-0 {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            padding-left: 10%;
        }

        .calc-btn-gray {
            background-color: color(btn-color3);
            font-size: 18px;
        }

        .calc-btn-orange {
            color: color(font-color1);
            background-color: color(btn-color2);
            border-right: none;
            font-size: 25px;
            font-weight: 200;
        }        
    }
}

button:active {
    box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25);
}